

<div style="display: flex;width: 100%;justify-content: center;background-color: darkslategrey;align-items: center;height: 100%;padding: 20px;">
  
    <mat-card style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
      
    <mat-tab-group>
        <mat-tab label="Login">
  
          <div style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
          
            <div class="example-container" style="width: 100%;display: flex;justify-content: center;">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" formControl="email" required >
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
  
          <div class="example-container" style="width: 100%;display: flex;justify-content: center;" >
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" >
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        </mat-tab>
        <mat-tab label="Registro"> 
  
          sdfsdf
        </mat-tab>
      </mat-tab-group>
  
  </mat-card>
  </div>
